<div
  data-test-id="card-produto"
  class="bg-card text-white px-5 py-6 md:px-6 md:py-8 rounded-lg shadow-lg flex flex-col items-start gap-5 md:gap-7 h-full"
  (click)="selecionarProduto()"
  (keydown.enter)="selecionarProduto()"
  (keydown.space)="selecionarProduto()"
  [attr.aria-label]="
    'Simular produto ' +
    produto.nome +
    ' com taxa a partir de ' +
    (produto.taxa_anual | percent: '1.2-2') +
    ' e prazo máximo de ' +
    produto.prazo_maximo +
    ' parcelas'
  "
>
  <h3
    data-test-id="produto-nome"
    class="font-caixa font-semibold text-xl line-clamp-2 overflow-hidden break-all"
  >
    {{ produto.nome }}
  </h3>
  <div class="flex flex-col gap-3 w-full">
    <div class="w-full flex flex-row justify-between items-start">
      <span>Taxas a partir de</span>
      <span data-test-id="produto-taxa" class="font-semibold text-end w-fit lg:max-w-30 xl:max-w-40"
        >{{ produto.taxa_anual | percent: '1.2-2' }} ao ano</span
      >
    </div>
    <div class="w-full flex flex-row justify-between items-center">
      <span>Para pagar em</span>
      <span data-test-id="produto-prazo" class="text-end">até {{ produto.prazo_maximo }}x</span>
    </div>
  </div>

  <div class="w-full flex flex-row justify-end items-center">
    <app-button [label]="'Simular Agora'" data-test-id="btn-simular" />
  </div>
</div>
