<div class="px-5 flex flex-col gap-8 mt-6 pb-12 h-full">
  <h2 class="text-white font-caixa font-semibold text-2xl">
    Faça um empréstimo que combina com sua necessidade
  </h2>

  <div
    *ngIf="isLoading; else listaProdutos"
    class="flex justify-center items-center flex-col gap-2 h-full flex-1"
  >
    <div
      class="w-12 h-12 border-4 border-t-primary border-gray-200 rounded-full animate-spin"
    ></div>
    <span>Buscando produtos...</span>
  </div>

  <ng-template #listaProdutos>
    <div class="flex flex-col gap-6">
      <app-card-produto
        *ngFor="let produto of produtos"
        [produto]="produto"
        (onProdutoSelecionado)="handleProdutoSelecionado($event)"
      ></app-card-produto>
    </div>
  </ng-template>
</div>
