<div class="px-5 flex flex-col gap-8 h-full pb-20">
  <h2
    class="text-white font-caixa font-semibold text-2xl mt-6 mb-4"
    data-test-id="titulo-cadastro-produto"
  >
    Cadastrar novo produto de empréstimo
  </h2>
  <form
    class="flex flex-col flex-1 justify-between"
    [formGroup]="form"
    (ngSubmit)="submit()"
    data-test-id="form-cadastro-produto"
  >
    <div class="flex flex-col flex-1 justify-start gap-8">
      <!-- Nome do produto -->
      <div class="w-full flex flex-col gap-2">
        <label data-test-id="label-nome">Nome do produto*</label>
        <input
          class="h-14 border-2 border-border px-2 placeholder:text-placeholder focus:border-primary focus:outline-none rounded-md"
          placeholder="Digite o nome do produto"
          formControlName="nome"
          [ngClass]="{
            'border-red-500': form.get('nome')?.touched && form.get('nome')?.invalid,
          }"
          data-test-id="input-nome"
        />
        <small
          class="text-red-500"
          *ngIf="form.get('nome')?.touched && form.get('nome')?.hasError('required')"
          data-test-id="error-nome-required"
        >
          Nome é obrigatório
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('nome')?.touched && form.get('nome')?.hasError('maxlength')"
          data-test-id="error-nome-maxlength"
        >
          Máximo de 255 caracteres
        </small>
      </div>

      <!-- Taxa anual -->
      <div class="w-full flex flex-col gap-2">
        <label data-test-id="label-taxa-anual">Taxa anual*</label>
        <input
          class="h-14 border-2 border-border px-2 placeholder:text-placeholder focus:border-primary focus:outline-none rounded-md"
          [ngClass]="{
            'border-red-500': form.get('taxa_anual')?.touched && form.get('taxa_anual')?.invalid,
          }"
          placeholder="0,00%"
          formControlName="taxa_anual"
          suffix="%"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          separatorLimit="99999"
          [dropSpecialCharacters]="true"
          data-test-id="input-taxa-anual"
        />
        <small
          class="text-red-500"
          *ngIf="form.get('taxa_anual')?.touched && form.get('taxa_anual')?.hasError('required')"
          data-test-id="error-taxa-anual-required"
        >
          Taxa anual é obrigatória
        </small>
      </div>

      <!-- Prazo máximo -->
      <div class="w-full flex flex-col gap-2">
        <label data-test-id="label-prazo-maximo">Qual o prazo máximo?*</label>
        <input
          class="h-14 border-2 border-border px-2 placeholder:text-placeholder focus:border-primary focus:outline-none rounded-md"
          [ngClass]="{
            'border-red-500':
              form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.invalid,
          }"
          type="number"
          placeholder="0"
          formControlName="prazo_maximo"
          mask="separator.0"
          [dropSpecialCharacters]="true"
          data-test-id="input-prazo-maximo"
        />
        <small
          class="text-red-500"
          *ngIf="
            form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.hasError('required')
          "
          data-test-id="error-prazo-maximo-required"
        >
          Prazo máximo é obrigatório
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.hasError('min')"
          data-test-id="error-prazo-maximo-min"
        >
          Prazo deve ser no mínimo 1
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.hasError('max')"
          data-test-id="error-prazo-maximo-max"
        >
          Prazo deve ser no máximo 999
        </small>
      </div>
    </div>

    <app-button
      [label]="'Salvar'"
      classes="w-full mt-8"
      type="submit"
      [disabled]="isLoading"
      [isLoading]="isLoading"
      data-test-id="btn-salvar"
    />
  </form>
</div>
