<div class="px-5 sm:px-6 md:lg:px-8 lg:px-10 flex flex-col gap-4 h-full pb-12 max-w-3xl mx-auto">
  <h2
    class="text-white font-caixa font-semibold text-2xl mt-6 mb-4"
    data-test-id="titulo-cadastro-produto"
  >
    Cadastrar novo produto de empréstimo
  </h2>
  <form
    class="flex flex-col flex-1 justify-between gap-12"
    [formGroup]="form"
    (ngSubmit)="submit()"
    data-test-id="form-cadastro-produto"
  >
    <div class="flex flex-col flex-1 justify-start gap-6">
      <div id="nome-produto" class="w-full flex flex-col gap-2">
        <label for="input-nome" data-test-id="label-nome">Nome do produto*</label>
        <input
          class="h-14 border-2 border-border px-2 placeholder:text-placeholder focus:border-primary focus:outline-none rounded-md"
          placeholder="Digite o nome do produto"
          formControlName="nome"
          maxlength="200"
          required="true"
          [ngClass]="{
            'border-red-500': form.get('nome')?.touched && form.get('nome')?.invalid,
          }"
          data-test-id="input-nome"
          id="input-nome"
        />
        <small
          class="text-red-500"
          *ngIf="form.get('nome')?.touched && form.get('nome')?.hasError('required')"
          data-test-id="error-nome-required"
        >
          Nome é obrigatório
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('nome')?.touched && form.get('nome')?.hasError('maxlength')"
          data-test-id="error-nome-maxlength"
        >
          Máximo de 200 caracteres
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('nome')?.touched && form.get('nome')?.hasError('pattern')"
          data-test-id="error-nome-blank"
        >
          Nome não pode ser vazio ou conter apenas espaços
        </small>
      </div>

      <div id="taxa-anual" class="w-full flex flex-col gap-2">
        <label for="input-taxa-anual" data-test-id="label-taxa-anual">Taxa anual*</label>
        <input
          class="h-14 border-2 border-border px-2 placeholder:text-placeholder focus:border-primary focus:outline-none rounded-md"
          [ngClass]="{
            'border-red-500': form.get('taxa_anual')?.touched && form.get('taxa_anual')?.invalid,
          }"
          placeholder="0,00%"
          formControlName="taxa_anual"
          suffix="%"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          separatorLimit="99999"
          [dropSpecialCharacters]="true"
          data-test-id="input-taxa-anual"
          id="input-taxa-anual"
        />
        <small
          class="text-red-500"
          *ngIf="form.get('taxa_anual')?.touched && form.get('taxa_anual')?.hasError('required')"
          data-test-id="error-taxa-anual-required"
        >
          Taxa anual é obrigatória
        </small>
      </div>

      <div id="prazo-maximo" class="w-full flex flex-col gap-2">
        <label for="input-prazo-maximo" data-test-id="label-prazo-maximo"
          >Qual o prazo máximo?*</label
        >
        <input
          class="h-14 border-2 border-border px-2 placeholder:text-placeholder focus:border-primary focus:outline-none rounded-md"
          [ngClass]="{
            'border-red-500':
              form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.invalid,
          }"
          type="number"
          placeholder="0"
          formControlName="prazo_maximo"
          mask="separator.0"
          [dropSpecialCharacters]="true"
          data-test-id="input-prazo-maximo"
          id="input-prazo-maximo"
        />
        <small
          class="text-red-500"
          *ngIf="
            form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.hasError('required')
          "
          data-test-id="error-prazo-maximo-required"
        >
          Prazo máximo é obrigatório
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.hasError('min')"
          data-test-id="error-prazo-maximo-min"
        >
          Prazo deve ser no mínimo 1
        </small>
        <small
          class="text-red-500"
          *ngIf="form.get('prazo_maximo')?.touched && form.get('prazo_maximo')?.hasError('max')"
          data-test-id="error-prazo-maximo-max"
        >
          Prazo deve ser no máximo 999
        </small>
      </div>
    </div>

    <app-button
      [label]="'Salvar'"
      classes="w-full "
      type="submit"
      [disabled]="isLoading"
      [isLoading]="isLoading"
      data-test-id="btn-salvar"
    />
  </form>
</div>
