<div
  class="flex-1 h-full flex flex-col items-center justify-center gap-4 px-5"
  data-test-id="loading-simulacao"
>
  <div class="relative w-36 h-36 flex items-center justify-center">
    <div class="absolute w-full h-full bg-black/10 rounded-full"></div>
    <app-animation-player
      data-test-id="animation-player"
      class="relative w-36 h-36"
      [src]="src"
    ></app-animation-player>
  </div>

  <span data-test-id="mensagem-atual" class="text-foreground/80 font-normal text-lg text-center">
    {{ mensagemAtual }}
  </span>
</div>
