{
  "branches": [
    "main",
    {
      "name": "develop",
      "prerelease": true,
      "channel": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "message": "chore(release): Versão ${nextRelease.version}",
        "skipCI": false
      }
    ],
    "@semantic-release/github"
  ],
  "preset": "angular"
}
