<div
  class="bg-card text-white px-4 pt-6 pb-5 rounded-lg shadow-lg flex flex-col items-start gap-3"
  (click)="irParaSimulacao()"
>
  <h3 class="font-caixa font-semibold text-xl">Crédito Pessoal</h3>
  <div class="flex flex-col gap-2 w-full">
    <div class="w-full flex flex-row justify-between items-center">
      <span>Taxas a partir de</span>
      <span class="font-semibold">2.09% ao mês</span>
    </div>
    <div class="w-full flex flex-row justify-between items-center">
      <span>Para pagar em</span>
      <span>até 36x</span>
    </div>
  </div>

  <app-button (click)="irParaSimulacao()" [label]="'Simular Agora'" />
</div>
