<header
  class="text-white flex flex-row justify-between items-end bg-background flex-1 h-30 px-5 py-5 border-border border-b-2 sticky top-0"
>
  <div class="w-full flex flex-row justify-between items-center">
    <button
      class="h-10 w-10 flex items-center justify-center bg-light-gray p-2 rounded-full"
      (click)="voltarPagina()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Seta para a esquerda"
        fontIcon="arrow_back"
      ></mat-icon>
    </button>
    <h4 class="font-caixa font-semibold text-xl">Empréstimos</h4>
    <div class="h-10 w-10 flex items-center justify-center p-2 rounded-full"></div>
  </div>
</header>
