<div
  class="px-5 sm:px-6 md:lg:px-8 lg:px-10 flex flex-col gap-8 h-full pb-20 max-w-3xl mx-auto text-foreground pt-2 md:pt-6"
>
  <div class="mt-6 flex flex-col gap-6">
    <h2
      class="font-caixa font-semibold text-2xl m-0 p-0 leading-none"
      data-test-id="titulo-parcelas"
    >
      Detalhe das Parcelas Mês a Mês
    </h2>
    <div class="flex flex-col w-full items-start">
      <span>Numero de parcelas:</span>
      <div class="flex flex-row gap-1 font-semibold text-" data-test-id="numero-parcelas">
        <span>{{ resumoSimulacao.resultado_simulacao.prazo }}x de </span>
        <span>{{
          resumoSimulacao.resultado_simulacao.parcela_mensal
            | currency: 'BRL' : 'symbol-narrow' : '1.2-2' : 'pt-BR'
        }}</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-8 flex-1 justify-start pb-14">
    <div class="flex flex-col justify-start">
      <app-divider />
      <cdk-accordion class="example-accordion">
        @for (parcela of parcelas; track parcela; let index = $index) {
          <cdk-accordion-item #accordionItem="cdkAccordionItem">
            <app-parcela-item
              [parcela]="parcela"
              [isExpandido]="accordionItem.expanded"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index"
              [attr.data-test-id]="'parcela-' + index"
              (keydown.enter)="accordionItem.toggle()"
              (keydown.space)="accordionItem.toggle()"
              (click)="accordionItem.toggle()"
              [attr.aria-label]="
                'Parcela ' + parcela.numero + ' de ' + resumoSimulacao.resultado_simulacao.prazo
              "
            />
            @if (accordionItem.expanded) {
              <section
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index"
                class="text-foreground font-normal"
              >
                <div class="flex flex-col gap-2 px-3 py-4">
                  <div class="w-full flex flex-row items-center justify-between text-md">
                    <span>Valor amortização:</span>
                    <span
                      [attr.aria-label]="
                        'Valor da amortização: ' + (parcela.valor_amortizacao | currency: 'BRL')
                      "
                      >{{
                        parcela.valor_amortizacao
                          | currency: 'BRL' : 'symbol-narrow' : '1.2-2' : 'pt-BR'
                      }}</span
                    >
                  </div>

                  <div class="w-full flex flex-row items-center justify-between text-md">
                    <span>Valor juros:</span>
                    <span
                      [attr.aria-label]="
                        'Valor da juros: ' + (parcela.valor_juros | currency: 'BRL')
                      "
                      >{{
                        parcela.valor_juros | currency: 'BRL' : 'symbol-narrow' : '1.2-2' : 'pt-BR'
                      }}</span
                    >
                  </div>

                  <div class="w-full flex flex-row items-center justify-between text-md">
                    <span>Saldo devedor:</span>
                    <span
                      [attr.aria-label]="
                        'Saldo devedor: ' + (parcela.saldo_devedor | currency: 'BRL')
                      "
                      >{{
                        parcela.saldo_devedor
                          | currency: 'BRL' : 'symbol-narrow' : '1.2-2' : 'pt-BR'
                      }}</span
                    >
                  </div>
                </div>
                <app-divider />
              </section>
            }
          </cdk-accordion-item>
        }
      </cdk-accordion>
    </div>
  </div>
</div>
