<div class="px-5 flex flex-col gap-8 h-full pb-20">
  <div class="flex flex-col w-full gap-3">
    <h2 class="font-caixa font-semibold text-2xl mt-6 m-0 p-0 leading-none">
      Detalhe das Parcelas
    </h2>
    <span class="font-caixa font-light leading-none"
      >Resumo das parcelas iniciando no próximo mês</span
    >
  </div>
  <div class="flex flex-col flex-1 justify-start pb-14">
    <app-parcela-item
      *ngFor="let parcela of parcelas; let i = index"
      [parcela]="parcela"
      [numeroParcela]="i"
    />
  </div>
</div>
